/App_Data/
/Applications/
/bin/
/Content/
/CSS/
/Hub/
/ImageCache/
/Images/
/Include/
/RadControls/
/Templates/
/UserControls/
/WebServices/
/XSLT/
*.zip
*.htm*
*.svc*
*.ico*
*.config*
/About.aspx
/Counter.aspx
/AccessDenied.aspx
/Attachments.aspx
/AuthenticationDialog.aspx
/CachedBlob.aspx
/CameraPopUp.aspx
/Chart.aspx
/CompRemoteDesktop.aspx
/Export.aspx
/DocumentBrowser.aspx
/Download.aspx
/ECardMessageXML.aspx
/EULA.aspx
/Exception.aspx
/MetricDataXml.aspx
/FileBrowser.aspx
/GroupBrowser.aspx
/ImageBrowser.aspx
/ImageView.aspx
/InvalidOrg.aspx
/InvalidRequest.aspx
/KeepAlive.aspx
/LookupBrowser.aspx
/Payment.aspx
/MissionGoerContributions.aspx
/Mobile.aspx
/MobileException.aspx
/ModuleSettings.aspx
/OutlookCalendarItem.aspx
/PageBrowser.aspx
/PageNotFound.aspx
/PromotionXml.aspx
/PersonBrowser.aspx
/printWindow.aspx
/ProfileMultiSelect.aspx
/ProfileSingleSelect.aspx
/Voicemail.aspx
/ReportBrowser.aspx
/ReportPDFViewer.aspx
/ReportView.aspx
/ReptSettings.aspx
/ResourceSelector.aspx
/Rss.aspx
/RunOnce.aspx
/Unsubscribe.aspx
/Verify.aspx
/WindowsAuthenticationLogin.aspx
