.churchonline-countdown
{
  position: absolute;
  left: 12px;
  top: 12px;
  overflow: auto;
  display: none;
  border: 1px rgba(255,255,255,0.4) solid;
  padding: 3px;
  background: rgba(124,124,124,0.6);
}

.churchonline-countdown:hover
{
  background: rgba(255,255,255,0.8);
}

.churchonline-countdown .time
{
  list-style: none;
  padding: 0;
  margin: 0;
}

.churchonline-countdown .time li
{
  float: left;
  white-space: nowrap;
  margin: 0 0 0 3px;
  padding: 3px 6px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
}

.churchonline-countdown .time li:first-child
{
  margin: 0;
}

.churchonline-countdown .time li span
{
  font-size: 1.2em;
  text-transform: uppercase;
  display: inline-block;
}

.churchonline-countdown .description, .churchonline-countdown .time li .label
{
  font-size: 0.8em;
  color: #5588BB;
}

.churchonline-countdown .live
{
  display: none;
  font-weight: bold;
}

.churchonline-countdown .info
{
  color: #FFFFFF;
}

.churchonline-countdown .info .title
{
  color: #FFFFFF;
  display: none;
}

.churchonline-countdown .info .description
{
  color: #FFFFFF;
  display: none;
}
