.promoText {
  z-index: 50;
  position: absolute;
  bottom: 3%;
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 5px #000000;
  filter: dropshadow(color=#000000, offx=2, offy=2);
}
