/* line 25, ../scss/partials/_buttons.scss */
.button {
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(top, #fbfbfb, #e1e1e1);
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border: 1px solid #d4d4d4;
  height: 32px;
  line-height: 32px;
  padding: 0px 25.6px;
  font-weight: 300;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #666666;
  text-shadow: 0 1px 1px white;
  margin: 0;
  text-decoration: none;
  text-align: center;
}
/* line 43, ../scss/partials/_buttons.scss */
.button:hover {
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
  background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
  background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
  background: -o-linear-gradient(top, #ffffff, #dcdcdc);
  background: linear-gradient(top, #ffffff, #dcdcdc);
}
/* line 47, ../scss/partials/_buttons.scss */
.button:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  background: #eeeeee;
  color: #bbbbbb;
}
/* line 53, ../scss/partials/_buttons.scss */
.button:focus {
  outline: none;
}

/* line 59, ../scss/partials/_buttons.scss */
input.button, button.button {
  height: 34px;
  cursor: pointer;
}

/* line 65, ../scss/partials/_buttons.scss */
.button-block {
  display: block;
}

/* line 74, ../scss/partials/_buttons.scss */
.button.disabled,
.button.disabled:hover,
.button.disabled:active,
input.button:disabled,
button.button:disabled {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  background: #EEE;
  border: 1px solid #DDD;
  text-shadow: 0 1px 1px white;
  color: #CCC;
  cursor: default;
}

/* line 100, ../scss/partials/_buttons.scss */
.button-rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 135, ../scss/partials/_buttons.scss */
.button-primary {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5d73f8), color-stop(100%, #2d49f6));
  background: -webkit-linear-gradient(top, #5d73f8, #2d49f6);
  background: -moz-linear-gradient(top, #5d73f8, #2d49f6);
  background: -o-linear-gradient(top, #5d73f8, #2d49f6);
  background: linear-gradient(top, #5d73f8, #2d49f6);
  background-color: #455ef7;
  border-color: #1434f5;
  color: white;
  text-shadow: 0 -1px 1px rgba(7, 28, 156, 0.35);
}
/* line 142, ../scss/partials/_buttons.scss */
.button-primary:hover {
  background-color: #455ef7;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7688f9), color-stop(100%, #2d49f6));
  background: -webkit-linear-gradient(top, #7688f9, #2d49f6);
  background: -moz-linear-gradient(top, #7688f9, #2d49f6);
  background: -o-linear-gradient(top, #7688f9, #2d49f6);
  background: linear-gradient(top, #7688f9, #2d49f6);
}
/* line 146, ../scss/partials/_buttons.scss */
.button-primary:active {
  background: #586ce4;
  color: #0924cd;
}

/* line 135, ../scss/partials/_buttons.scss */
.button-primary-dark {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d5dc3), color-stop(100%, #3847a5));
  background: -webkit-linear-gradient(top, #4d5dc3, #3847a5);
  background: -moz-linear-gradient(top, #4d5dc3, #3847a5);
  background: -o-linear-gradient(top, #4d5dc3, #3847a5);
  background: linear-gradient(top, #4d5dc3, #3847a5);
  background-color: #3e4fb8;
  border-color: #313f92;
  color: white;
  text-shadow: 0 -1px 1px rgba(23, 30, 70, 0.35);
}
/* line 142, ../scss/partials/_buttons.scss */
.button-primary-dark:hover {
  background-color: #3e4fb8;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #606ec9), color-stop(100%, #3847a5));
  background: -webkit-linear-gradient(top, #606ec9, #3847a5);
  background: -moz-linear-gradient(top, #606ec9, #3847a5);
  background: -o-linear-gradient(top, #606ec9, #3847a5);
  background: linear-gradient(top, #606ec9, #3847a5);
}
/* line 146, ../scss/partials/_buttons.scss */
.button-primary-dark:active {
  background: #57619f;
  color: #242e6c;
}

/* line 135, ../scss/partials/_buttons.scss */
.button-highlight {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fa9915), color-stop(100%, #d87e04));
  background: -webkit-linear-gradient(top, #fa9915, #d87e04);
  background: -moz-linear-gradient(top, #fa9915, #d87e04);
  background: -o-linear-gradient(top, #fa9915, #d87e04);
  background: linear-gradient(top, #fa9915, #d87e04);
  background-color: #f18d05;
  border-color: #bf7004;
  color: white;
  text-shadow: 0 -1px 1px rgba(91, 53, 2, 0.35);
}
/* line 142, ../scss/partials/_buttons.scss */
.button-highlight:hover {
  background-color: #f18d05;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fba42e), color-stop(100%, #d87e04));
  background: -webkit-linear-gradient(top, #fba42e, #d87e04);
  background: -moz-linear-gradient(top, #fba42e, #d87e04);
  background: -o-linear-gradient(top, #fba42e, #d87e04);
  background: linear-gradient(top, #fba42e, #d87e04);
}
/* line 146, ../scss/partials/_buttons.scss */
.button-highlight:active {
  background: #d8891e;
  color: #8d5303;
}

/* line 135, ../scss/partials/_buttons.scss */
.button-secondary {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ad284e), color-stop(100%, #831e3c));
  background: -webkit-linear-gradient(top, #ad284e, #831e3c);
  background: -moz-linear-gradient(top, #ad284e, #831e3c);
  background: -o-linear-gradient(top, #ad284e, #831e3c);
  background: linear-gradient(top, #ad284e, #831e3c);
  background-color: #982345;
  border-color: #6f1932;
  color: white;
  text-shadow: 0 -1px 1px rgba(28, 6, 13, 0.35);
}
/* line 142, ../scss/partials/_buttons.scss */
.button-secondary:hover {
  background-color: #982345;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c12d58), color-stop(100%, #831e3c));
  background: -webkit-linear-gradient(top, #c12d58, #831e3c);
  background: -moz-linear-gradient(top, #c12d58, #831e3c);
  background: -o-linear-gradient(top, #c12d58, #831e3c);
  background: linear-gradient(top, #c12d58, #831e3c);
}
/* line 146, ../scss/partials/_buttons.scss */
.button-secondary:active {
  background: #85364d;
  color: #45101f;
}

/* line 160, ../scss/partials/_buttons.scss */
.button-flat {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #eeeeee;
  border: none;
  text-shadow: none;
}
/* line 169, ../scss/partials/_buttons.scss */
.button-flat:hover {
  background: #fbfbfb;
}
/* line 172, ../scss/partials/_buttons.scss */
.button-flat:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #eeeeee;
  color: #bbbbbb;
}
/* line 177, ../scss/partials/_buttons.scss */
.button-flat.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 189, ../scss/partials/_buttons.scss */
.button-flat-primary {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #455ef7;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 198, ../scss/partials/_buttons.scss */
.button-flat-primary:hover {
  background: #5d73f8;
}
/* line 201, ../scss/partials/_buttons.scss */
.button-flat-primary:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #586ce4;
  color: #0a29e6;
}
/* line 206, ../scss/partials/_buttons.scss */
.button-flat-primary.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 189, ../scss/partials/_buttons.scss */
.button-flat-primary-dark {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #3e4fb8;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 198, ../scss/partials/_buttons.scss */
.button-flat-primary-dark:hover {
  background: #4d5dc3;
}
/* line 201, ../scss/partials/_buttons.scss */
.button-flat-primary-dark:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #57619f;
  color: #2b367f;
}
/* line 206, ../scss/partials/_buttons.scss */
.button-flat-primary-dark.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 189, ../scss/partials/_buttons.scss */
.button-flat-highlight {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #f18d05;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 198, ../scss/partials/_buttons.scss */
.button-flat-highlight:hover {
  background: #fa9915;
}
/* line 201, ../scss/partials/_buttons.scss */
.button-flat-highlight:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #d8891e;
  color: #a66103;
}
/* line 206, ../scss/partials/_buttons.scss */
.button-flat-highlight.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 189, ../scss/partials/_buttons.scss */
.button-flat-secondary {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #982345;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 198, ../scss/partials/_buttons.scss */
.button-flat-secondary:hover {
  background: #ad284e;
}
/* line 201, ../scss/partials/_buttons.scss */
.button-flat-secondary:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #85364d;
  color: #5a1529;
}
/* line 206, ../scss/partials/_buttons.scss */
.button-flat-secondary.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
